ltm-analysis/.DS_Store
ltm-analysis/.cache-main
ltm-analysis/.cache-tests
ltm-analysis/.history
ltm-analysis/bin
ltm-analysis/target
ltm-analysis/project/target
ltm-analysis/project/project/target
ltm-analysis/converted
ltm-analysis/*~
ltm-analysis/.worksheet
ltm-analysis//.classpath
ltm-analysis/.project
ltm-analysis/.settings/org.eclipse.core.resources.prefs
ltm-analysis/.settings/org.scala-ide.sdt.core.prefs
ltm-analysis/.settings/org.eclipse.jdt.core.prefs
ltm-analysis/exp/
ltm-analysis/samples
ltm-analysis/data
ltm-analysis/data-description.txt

ltm-analysis/.idea/
ltm-analysis/out/
ltm-analysis/*.iml